<div class="container-fluid">

    <div class="row">
        <div class="col-lg-12 col-md-12 ">

            <header class="welheading">
                <p class="welh1 padding2 col-lg-12 col-md-12">OUR BENEFITS</p>
                <h3 class="welh2 col-lg-12 col-md-12">Benefits We Provide</h3>
                <hr class="hr">
                <p class="welh1 col-lg-12 col-md-12">Lorem ipsum dolor sit amet consecter adipsicing elit sed usm tempor incididunt ut rietad dolore</p>
                <p class="welh1 col-lg-12 col-md-12 ">magna aliqua ut enim minim benias quis nostrual exercitationnullamco laboris sed</p>
            </header>

            <div class="container padding">
                <div class="row ">

                    <div class="col-lg-4 col-md-4 imagg1  left ">
                        <h3 class="h3">Benefits for Attorneys</h3>
                        <ul class="benlist padd3">
                            <li>
                                <p class="ben-texting">No-cost-3D rendering is part of MRI charge</p>
                            </li>
                            <li>
                                <p class="ben-texting">Clear demonstration of injury</p>
                            </li>
                            <li>
                                <p class="ben-texting">Sellte quicker and better</p>
                            </li>
                        </ul>

                    </div>
                    <div class="ccol-lg-4 col-md-4 imagg2  left">

                        <h3 class="h3">Benefits for Physicians</h3>
                        <ul class="benlist padd3">
                            <li>
                                <p class="ben-texting">No-cost</p>
                            </li>
                            <li>
                                <p class="ben-texting">Patient education</p>
                            </li>
                            <li>
                                <p class="ben-texting">Promotes appropriate care</p>
                            </li>
                            <li>
                                <p class="ben-texting">Lessens medical malpractice</p>
                            </li>
                            <li>
                                <p class="ben-texting">Expedites settlements & payments</p>
                            </li>
                            <li>
                                <p class="ben-texting">Increase Payment</p>
                            </li>
                            <li>
                                <p class="ben-texting">Objective Data</p>
                            </li>
                        </ul>


                    </div>
                    <div class="col-lg-4 col-md-4  imagg3  left">

                        <h3 class="h3">MRI Facilities</h3>
                        <ul class="benlist padd3">
                            <li>
                                <p class="ben-texting">Complete advantage</p>
                            </li>
                            <li>
                                <p class="ben-texting">Simple process of obtaining 3D rendering</p>
                            </li>
                            <li>
                                <p class="ben-texting">Increase revenue</p>
                            </li>
                        </ul>



                    </div>

                </div>
            </div>

        </div>


    </div>
</div>