<div class="container-fluid padding3">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <header class="welheading col-lg-12 col-md-12">
                <p class="welh1 padding2 col-lg-12 col-md-12">OUR PROCESS</p>
                <h3 class="welh2 col-lg-12 col-md-12">See How it Works</h3>
                <hr class="hr">
                <p class="welh1 col-lg-12 col-md-12">It is a long established fact that a reader will be distracted by a readable content of a page when</p>
                <p class="welh1 col-lg-12 col-md-12">looking at its layout. The point of using Lorem ipsum is that it has a more-or-less normal</p>
            </header>
        </div>



    </div>
    <div class="container">
        <div class="row ">
            <div class="col-lg-4 col-md-4   "><img src="../../assets/icon-upload.png" class="imgupload">
                <h4 class="textupload">1. Upload</h4>
                <div class="uplaodtxt">
                    <h6 class="textdec">Upload your scan and report to</h6>
                    <h6 class="textdec">HIPAA Complaince</h6>
                </div>


            </div>
            <div class="col-lg-4 col-md-4 "><img src="../../assets/icon-review.png" class="imgreview">

                <h4 class="textreview">2. Review</h4>
                <div class="uplaodtxt1 ">
                    <h6 class="textdec">Within 48 hours of receiving your scan</h6>
                    <h6 class="textdec">you will get a draft of your videos</h6>
                </div>

            </div>
            <div class="col-lg-4 col-md-4 "><img src="../../assets/icon-delivery.png" class="imgdel">

                <h4 class="textdel">3. Delivery</h4>

                <div>
                    <h6 class="textdec">Feedback is processed and we'll deliver a </h6>
                    <h6 class="textdec">final video in a high resolution format</h6>
                    <h6 class="textdec">(mp4, wmv or on a DVD)</h6>
                </div>

            </div>
        </div>
    </div>

</div>