<!-- <app-header-comp></app-header-comp>
<app-carosoul></app-carosoul>
<app-welcomemultus></app-welcomemultus>
<app-ourbenefit-comp></app-ourbenefit-comp>
<app-ourprocess-comp></app-ourprocess-comp> -->
<router-outlet>

    <!-- <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
        <input formControlName="name" placeholder="Your name">
        <input formControlName="email" placeholder="Your email">
        <input formControlName="message" placeholder="Your message">

        <button type="submit">Send</button>
    </form> -->

</router-outlet>


<!-- <app-footer-comp></app-footer-comp> -->