<div class="jumbotron jumbotron-fluid padd4">
    <div class="row">
        <div class="col-sm-12">
            <p class="welh1 padding2">WELCOME TO MULTUS</p>
            <h3 class="welh2">We Are Best Medical Hospital</h3>

            <p class="welh1">Multus Medical specializes in creating Patient-Specific Medical Model</p>
            <p class="welh1">We use patients MRI scan data to generate 3-D representations of patient-specific</p>


        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 welbottom d-flex justify-content-center">
                    <div class="col-lg-4 col-md-4  thumbnail img"><img src="../../assets/about-01.jpg" class=""></div>
                    <div class="col-lg-4 col-md-4 thumbnail img"><img src="../../assets/about-02.jpg" class=""></div>
                    <div class="col-lg-4 thumbnail col-md-4 img"><img src="../../assets/about-03.jpg"></div>

                </div>
            </div>
        </div>


    </div>


</div>